# Misc
.DS_Store
logs/

# IDE files
.idea
*.iml
.vscode
.settings
.project
.classpath
.factorypath

# Compiled files
target

# NPM
node_modules/
package-lock.json

# Python
__pycache__/

# Bazel
.ijwb/
bazel-bin
bazel-examples
bazel-genfiles
bazel-out
bazel-testlogs