# Misc
.DS_Store
logs/

# IDE files
.idea/
.ijwb/
*.iml
.vscode
.settings
.project
.classpath
.factorypath

# Compiled files
target/
bin/

# NPM
node_modules/
package-lock.json

# Python
__pycache__

bazel-*

